body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: pink;
  color: white;
}

#tabuleiro {
  width: 640px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 10px;
  justify-content: center;
}

.carta {
  width: 150px;
  height: 150px;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.carta.virada {
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
}

.frente {
  transform: rotateY(180deg);
}

.verso {
  background: url('https://i.imgur.com/bZf3h2K.png') center/cover;
}
